html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C3D2C7;
  background-image: url('/src/assets/Grey_Brick_Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.splash-page {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #501537;
  padding: 20px;
  box-sizing: border-box;
}

.splash-page h1 {
  font-size: 2em;
  color: #3c1b43;
  margin-bottom: 10px;
}

.logo {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto 20px auto;
  display: block;
}

.splash-page img {
  max-width: 100%;
  margin-bottom: 20px;
}

.splash-page h2 {
  font-size: 2em;
  color: #501537;
  margin-bottom: 10px;
}

.splash-page .paragraph-container {
  margin-bottom: 20px;
  max-width: 800px;
  padding: 0 20px;
  box-sizing: border-box;
}

.splash-page button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #501537;
  color: #D4e79e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.splash-page button:hover {
  background-color: #3c1b43;
}

.splash-page footer {
  font-size: 0.875em;
  color: #501537;
  padding-top: 20px;
  border-top: 1px solid #3c1b43;
  width: 100%;
  text-align: center;
}

.signup-container {
  background-color: #D4e79e;
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.signup-container h2 {
  color: #3c1b43;
}

.signup-container p {
  font-size: 1em;
  color: #501537;
  margin-bottom: 20px;
}

.signup-container b {
  font-weight: bold;
}

.signup-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #3c1b43;
  border-radius: 4px;
  box-sizing: border-box;
}

.signup-container button {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .splash-page h1, .splash-page h2 {
    font-size: 1.5em;
  }

  .splash-page button {
    font-size: 0.875em;
  }

  .signup-container {
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .splash-page h1, .splash-page h2 {
    font-size: 1.25em;
  }

  .signup-container {
    width: 100%;
    max-width: 250px;
  }
}

@media screen and (max-width: 576px) {
  .splash-page h1, .splash-page h2 {
    font-size: 1em;
  }

  .signup-container {
    width: 100%;
    max-width: 200px;
  }
}
